---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout title="update is cancelled">
    <div class="timer">
        <h1 class="stuff">
            THANKS EVERYONE FOR STAYING, i love this community ngl. Been pleased
            to meet it.
        </h1>
        <h1 class="stuff">
            <span style="color: white;">BLACKHAWK RESCUE MISSION FIVE</span> OPERATION
            PHOENIX
        </h1>
        <div class="countdown">
            <span id="hours">00</span>:<span id="minutes">00</span>:<span
                id="seconds">00</span
            >
        </div>
        <p class="stuff">
            DELAYED TO AVOID DATA LOSS
            <br />
            why is the discord rioting again
            <br />
            <span style="font-size:25px; font-weight: 400; color: white">
                BASED ON OFFICIAL RELEASE DATE (12PM AEST)
            </span>
            <br />
            <span
                style="font-size:20px; font-weight: 600; text-transform: lowercase; color: white"
            >
                https://gen4-is-coming-less-go.vercel.app/
            </span>
        </p>
    </div>
    <div class="changelog">
        <h2 style="margin: 0;">WHATS NEW WITH THE UPDATE</h2>
        <h3 style="margin: 0;">IMPORTANT NOTES:</h3>
        <ol style="color: white; margin-top: 0; line-height: 145%;">
            <li>
                Don't sell the A10 - you'll get a refund (greater than what you
                get for selling). Don't repair them either.
            </li>
            <li>
                Quests are (AFAIK) getting removed. You have until that timer
                runs out to get the Groza, which (again, AFAIK) would turn into
                an exclusive item.
            </li>
            <li>
                RGE will be TEMPORARILY removed so it gets its own separate
                rework. It should drop 1 month after GEN4 or so.
            </li>
            <li>No data wipe :)</li>
            <li>
                This is not misinformation, I try not to make mistakes. I'll
                write in parentheses the source for each thing I write in here.
                Ping <code>@leoptix</code> for corrections / additions in PL5 Discord,
                thank you.
            </li>
        </ol>
        <h3 style="margin: 0;">
            A <span style="font-weight: 200">(WIP)</span> FULL CHANGELOG:
        </h3>
        <ol style="color: white; margin-top: 0; line-height: 145%;">
            <li>
                Many performance improvements and fixing all current bugs
                (hopefully).
            </li>
            <li>
                Rework of most guns, vehicles, and models in general. Also, new
                vehicles, guns, etc... <a
                    href="https://docs.google.com/document/d/15CuwbpcZ42owrTo4FVtHsoKqZSRlATLx-Y6_t_bUtB8/edit"
                    rel="noopener noreferrer"
                    target="_blank"
                >
                    ConfusedYeen did an exhaustive list with all changes (click
                    here for it).
                </a>
            </li>
            <li>
                Removal of intel mechanic (bunker still exists, but no intel is
                used to unlock it). (TECH DEMO #3)
            </li>
            <li>Removal of A-10. (DISCORD)</li>
            <li>New locations, e.g. "Kozlovka" (TECH DEMO #3).</li>
            <li>
                Mobile support (idk if it's releasing alongside the update or
                later, but Gnar said it's a thing) (DISCORD)
            </li>
            <li>Inventory mechanic (TECH DEMO #1, #2)</li>
            <li>New ammo system with individual mags (TECH DEMO #2)</li>
            <li>Sliding (not for PvP) (TECH DEMO #1)</li>
            <li>Animation rework (TECH DEMO #1)</li>
            <li>New PvP maps (TECH DEMO #2)</li>
            <li>Rework of existing PvP maps (GLE's TWITTER)</li>
            <li>New zombie mode (yes) (GAME MENU ITSELF LOL)</li>
            <li>New Arma3-like helicopter physics. (GLE's TWITTER)</li>
            <li>Reworked map (still Ronograd Island but like better).</li>
            <li>
                Ability to lock your doors/turrets so "zero stars" don't annoy
                you. (TECH DEMO #1)
            </li>
            <li>
                Stars are renamed to levels (so "zero star" is now "zero level"
                i guess) (TECH DEMO #1)
            </li>
            <li>
                In-game pause menu to change settings and see stuff (TECH DEMO
                #1)
            </li>
            <li>In-game map (TECH DEMO #1)</li>
            <li>Private squads (invite-based) (TECH DEMO #1)</li>
            <li>UI redesign (TECH DEMO #1, #2)</li>
            <li>A detection meter (TECH DEMO #3)</li>
            <li>
                New raid system, with a fixed amount of enemy raids until a
                location is fully secured. (TECH DEMO #3)
            </li>
            <li>New lights & hazards for vehicles. (TECH DEMO #1)</li>
            <li>New breaching mechanics for doors. (TECH DEMO #3)</li>
            <li>Removal of quests. (DISCORD, MAYBE?)</li>
            <li>Bipods (FINAL TRAILER)</li>
            <li>
                <em>(I'm still looking up, I think there was more stuff)</em>
            </li>
        </ol>
        <p style="color: white; margin-top: 0">
            This is rushed, I'm trying to keep this list updated.<br />
            LAST UPDATE AT 01:07:00 Spanish time, DM / ping <code>@leoptix</code
            >
            on discord (or <a
                href="https://github.com/ZakaHaceCosas/gen4-is-coming-less-go"
                rel="noopener noreferrer"
                target="_blank">open this on github</a
            > if you know AstroJS) to add stuff I'm missing <br />or correct
            mistakes
        </p>. Thank you!
    </div>
</Layout>

<script>
    /* javascript javascript go brr */
    const countdown = () => {
        const now = new Date();

        // use spain time to fix a random dude seeing 6 hours left instead of 3
        // im spanish alr?
        const nowInSpain = new Date(
            now.toLocaleString("en-US", { timeZone: "Europe/Madrid" })
        );

        // 3 am IN SPAIN
        // SPAIN MENTIONED RAHHHHHHHHHHH WHAT IS STABLE POLITICS RAHHHHHHHHH PAELLA
        const tomorrow = new Date(nowInSpain);
        tomorrow.setDate(nowInSpain.getDate() + 1);
        tomorrow.setHours(3, 0, 0, 0);

        const diff = tomorrow.getTime() - nowInSpain.getTime();

        const trickedDiff = diff / 1000;
        const releaseDate = 86400;

        if (trickedDiff <= releaseDate) {
            document.querySelector(".countdown")!.innerHTML = "OUT!!!";
            return;
        }

        if (trickedDiff >= releaseDate && trickedDiff <= 97200) {
            const colors = ["#fb140b", "#f6d236", "#2860de", "#fff"];

            let i = 0;

            function e() {
                const elem = document.querySelector(
                    ".countdown"
                ) as HTMLElement;
                const c = colors[Math.floor(Math.random() * colors.length)];
                elem.style.color = c;
                elem.style.textShadow = `0 0 75px ${c}`;
            }

            setInterval(e, 950);
        }

        const hours = Math.floor((diff / (1000 * 60 * 60)) % 24);
        const minutes = Math.floor((diff / (1000 * 60)) % 60);
        const seconds = Math.floor((diff / 1000) % 60);

        document.getElementById("hours")!.textContent = String(hours).padStart(
            2,
            "0"
        );
        document.getElementById("minutes")!.textContent = String(
            minutes
        ).padStart(2, "0");
        document.getElementById("seconds")!.textContent = String(
            seconds
        ).padStart(2, "0");
    };

    setInterval(countdown, 1000);
    countdown();
</script>

<style>
    /* inline css go brr */
    body {
        background-color: #000;
        color: red;
        font-family: "Montserrat";
        overflow-x: hidden;
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        line-height: 110%;
        scrollbar-width: none;
    }

    ol {
        font-weight: 600;
    }

    img {
        width: 30%;
        height: auto;
        object-fit: scale-down;
    }

    .timer {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        justify-content: center;
        width: 60vw;
        min-height: 80vh;
        line-height: 160%;
        overflow: hidden;
    }

    .changelog {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 40vw;
        align-items: flex-start;
        justify-content: flex-start;
        overflow-y: visible;
        padding-top: 10px;
    }

    .stuff {
        text-shadow: 0 0 25px red;
        font-size: 2em;
        text-align: center;
    }

    .countdown {
        font-size: 9em;
        color: #f6d236;
        text-shadow: 0 0 75px #f6d236;
        font-weight: bold;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    a {
        color: #f6d236;
    }

    a:hover {
        text-shadow: 0px 0px 25px #f6d236;
    }
</style>
