---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout title="update is cancelled">
    <div class="timer">
        <h1 class="stuff">
            <span style="color: white;">BLACKHAWK RESCUE MISSION FIVE</span> OPERATION
            PHOENIX
        </h1>
        <div class="countdown">
            <span id="hours">00</span>:<span id="minutes">00</span>:<span
                id="seconds">00</span
            >
        </div>
        <p class="stuff">LEFT UNTIL THE GEN4 DROPS</p>
    </div>
    <div class="changelog">
        <h2 style="margin: 0;">WHATS NEW WITH THE UPDATE</h2>
        <h3 style="margin: 0;">
            A <span style="font-weight: 200">(NOT SO)</span> FULL CHANGELOG:
        </h3>
        <ol style="color: white; margin-top: 0;">
            <li>Performance improvements</li>
            <li>
                Rework of most guns (<a
                    href="https://docs.google.com/document/d/15CuwbpcZ42owrTo4FVtHsoKqZSRlATLx-Y6_t_bUtB8/edit"
                    rel="noopener noreferrer"
                    target="_blank"
                >
                    Confused Yeen did a great document showing all of them
                </a>, it's LONG)
            </li>
            <li>Removal of intel mechanic (bunker still exists)</li>
            <li>
                Removal of A-10 (DON'T SELL THAT THING, you'll get a higher
                refund if you wait for update)
            </li>
            <li>New locations</li>
            <li>New guns</li>
            <li>New vehicles</li>
            <li>
                Mobile support (idk if it's releasing alongside the update or
                later, but Gnar said it's a thing)
            </li>
            <li>Inventory mechanic</li>
            <li>Ammo mag mechanic</li>
            <li>Sliding</li>
            <li>Animation rework</li>
            <li>Every shitty bug from current Gen3 should be fixed (should)</li>
            <li>New PvP maps</li>
            <li>Rework of existing PvP maps</li>
            <li>New zombie mode (yes)</li>
            <li>
                New heli physics (people call it Arma3-like if that helps you
                get an idea)
            </li>
            <li>Reworked map (still Ronograd Island but like better)</li>
            <li>LGMs (thanks @decreers)</li>
            <li>
                Ability to lock your doors/turrets so "zero stars" don't annoy
                you
            </li>
            <li>
                Stars are renamed to levels (that's why I put "zero stars"
                between colons before)
            </li>
            <li>In-game pause menu to change settings and see stuff</li>
            <li>In-game map</li>
            <li>Private squads (invite-based)</li>
            <li>UI redesign</li>
            <li>A detection meter</li>
            <li>
                New raid system (now there's a bar showing you stuff like
                remaining enemy waves, and they changed more stuff I don't
                remember right now)
            </li>
            <li><em>(Still looking up, I think there was more stuff)</em></li>
        </ol>
        <p style="color: white; margin-top: 0">
            this is so fucking rushed, i'm trying to keep this list updated.
            LAST UPDATE @ 0:25:09 spanish time, DM <code>@leoptix</code> on discord
            (or <a
                href="https://github.com/ZakaHaceCosas/gen4-is-coming-less-go"
                rel="noopener noreferrer"
                target="_blank">open this on github</a
            > if you know AstroJS) to add stuff i'm missing. thank you).
        </p>
    </div>
</Layout>

<script>
    /* javascript javascript go brr */
    const countdown = () => {
        const now = new Date();
        const tomorrow = new Date();
        tomorrow.setDate(now.getDate() + 1);
        tomorrow.setHours(3, 0, 0, 0);

        // @ts-ignore bitchy error
        const diff = tomorrow - now;

        if (diff <= 0) {
            document.querySelector(".countdown")!.innerHTML =
                "IT'S 3AM. PANIC!";
            return;
        }

        const hours = Math.floor((diff / (1000 * 60 * 60)) % 24);
        const minutes = Math.floor((diff / (1000 * 60)) % 60);
        const seconds = Math.floor((diff / 1000) % 60);

        document.getElementById("hours")!.textContent = String(hours).padStart(
            2,
            "0"
        );
        document.getElementById("minutes")!.textContent = String(
            minutes
        ).padStart(2, "0");
        document.getElementById("seconds")!.textContent = String(
            seconds
        ).padStart(2, "0");
    };

    setInterval(countdown, 1000);
    countdown();
</script>

<style>
    /* inline css go brr */
    body {
        background-color: #000;
        color: red;
        font-family: "Montserrat";
        overflow-x: hidden;
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        line-height: 110%;
        scrollbar-width: none;
    }

    ol {
        font-weight: 600;
    }

    img {
        width: 30%;
        height: auto;
        object-fit: scale-down;
    }

    .timer {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        justify-content: center;
        width: 60vw;
        min-height: 80vh;
        line-height: 160%;
        overflow: hidden;
    }

    .changelog {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 40vw;
        align-items: flex-start;
        justify-content: flex-start;
        overflow-y: visible;
        padding-top: 10px;
    }

    .stuff {
        text-shadow: 0 0 25px red;
        font-size: 2em;
        text-transform: uppercase;
        text-align: center;
    }

    .countdown {
        font-size: 9em;
        color: #f6d236;
        text-shadow: 0 0 45px #f6d236;
        font-weight: bold;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    a {
        color: #f6d236;
    }

    a:hover {
        text-shadow: 0px 0px 25px #f6d236;
    }
</style>
