---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout title="update is cancelled">
    <div class="timer">
        <h1 class="stuff">
            <span style="color: white;">BLACKHAWK RESCUE MISSION FIVE</span> OPERATION
            PHOENIX
        </h1>
        <div class="countdown">
            <span id="hours">00</span>:<span id="minutes">00</span>:<span
                id="seconds">00</span
            >
        </div>
        <p class="stuff">
            LEFT UNTIL THE GEN4 DROPS
            <br />
            <span
                style="font-size:20px; font-weight: 500; text-transform: lowercase; color: white"
            >
                https://gen4-is-coming-less-go.vercel.app/
            </span>
        </p>
    </div>
    <div class="changelog">
        <h2 style="margin: 0;">WHATS NEW WITH THE UPDATE</h2>
        <h3 style="margin: 0;">IMPORTANT NOTES:</h3>
        <ol style="color: white; margin-top: 0; line-height: 145%;">
            <li>
                Don't sell the A10 - you'll get a refund (greater than what you
                get for selling). Don't repair them either.
            </li>
            <li>
                Quests are (AFAIK) getting removed. You have until that timer
                runs out to get the Groza, which (again, AFAIK) would turn into
                an exclusive item.
            </li>
            <li>
                RGE will be TEMPORARILY removed so it gets its own separate
                rework. It should drop 1 month after GEN4 or so.
            </li>
        </ol>
        <h3 style="margin: 0;">
            A <span style="font-weight: 200">(WIP)</span> FULL CHANGELOG:
        </h3>
        <ol style="color: white; margin-top: 0; line-height: 145%;">
            <li>
                Many performance improvements and fixing all current bugs
                (hopefully).
            </li>
            <li>
                Rework of most guns, vehicles, and models in general. Also, new
                vehicles, guns, etc... <a
                    href="https://docs.google.com/document/d/15CuwbpcZ42owrTo4FVtHsoKqZSRlATLx-Y6_t_bUtB8/edit"
                    rel="noopener noreferrer"
                    target="_blank"
                >
                    ConfusedYeen did an exhaustive list with all changes (click
                    here for it).
                </a>
            </li>
            <li>
                Removal of intel mechanic (bunker still exists, but no intel is
                used to unlock it)
            </li>
            <li>
                Removal of A-10 (DON'T SELL THAT THING, you'll get a higher
                refund if you wait for update)
            </li>
            <li>New locations, e.g. "Kozlovka" (see GLE tech demo #3).</li>
            <li>
                Mobile support (idk if it's releasing alongside the update or
                later, but Gnar said it's a thing)
            </li>
            <li>Inventory mechanic</li>
            <li>Ammo mag mechanic (individual mags)</li>
            <li>Sliding (not for PvP)</li>
            <li>Animation rework</li>
            <li>New PvP maps</li>
            <li>Rework of existing PvP maps</li>
            <li>New zombie mode (yes)</li>
            <li>New Arma3-like helicopter physics.</li>
            <li>Reworked map (still Ronograd Island but like better)</li>
            <li>Light Machine Guns (thanks @decreers)</li>
            <li>
                Ability to lock your doors/turrets so "zero stars" don't annoy
                you
            </li>
            <li>
                Stars are renamed to levels (so "zero star" is now "zero level"
                i guess)
            </li>
            <li>In-game pause menu to change settings and see stuff</li>
            <li>In-game map</li>
            <li>Private squads (invite-based)</li>
            <li>UI redesign</li>
            <li>A detection meter</li>
            <li>
                New raid system, with a fixed amount of enemy raids until a
                location is fully secured.
            </li>
            <li>New lights & hazards for vehicles.</li>
            <li>New breaching mechanics for doors.</li>
            <li>Removal of quests.</li>
            <li>
                <em>(I'm still looking up, I think there was more stuff)</em>
            </li>
        </ol>
        <p style="color: white; margin-top: 0">
            This is rushed, I'm trying to keep this list updated.<br />
            LAST UPDATE AT 01:07:00 Spanish time, DM / ping <code>@leoptix</code
            >
            on discord (or <a
                href="https://github.com/ZakaHaceCosas/gen4-is-coming-less-go"
                rel="noopener noreferrer"
                target="_blank">open this on github</a
            > if you know AstroJS) to add stuff I'm missing <br />or correct
            mistakes
        </p>. Thank you!
    </div>
</Layout>

<script>
    /* javascript javascript go brr */
    const countdown = () => {
        const now = new Date();

        // use spain time to fix a random dude seeing 6 hours left instead of 3
        // im spanish alr?
        const nowInSpain = new Date(
            now.toLocaleString("en-US", { timeZone: "Europe/Madrid" })
        );

        // 3 am IN SPAIN
        // SPAIN MENTIONED RAHHHHHHHHHHH WHAT IS STABLE POLITICS RAHHHHHHHHH PAELLA
        const tomorrow = new Date(nowInSpain);
        tomorrow.setDate(nowInSpain.getDate() + 1);
        tomorrow.setHours(3, 0, 0, 0);

        const diff = tomorrow.getTime() - nowInSpain.getTime();

        if (diff <= 0) {
            document.querySelector(".countdown")!.innerHTML =
                "IT'S 3AM. PANIC!";
            return;
        }

        const hours = Math.floor((diff / (1000 * 60 * 60)) % 24);
        const minutes = Math.floor((diff / (1000 * 60)) % 60);
        const seconds = Math.floor((diff / 1000) % 60);

        document.getElementById("hours")!.textContent = String(hours).padStart(
            2,
            "0"
        );
        document.getElementById("minutes")!.textContent = String(
            minutes
        ).padStart(2, "0");
        document.getElementById("seconds")!.textContent = String(
            seconds
        ).padStart(2, "0");
    };

    setInterval(countdown, 1000);
    countdown();
</script>

<style>
    /* inline css go brr */
    body {
        background-color: #000;
        color: red;
        font-family: "Montserrat";
        overflow-x: hidden;
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        line-height: 110%;
        scrollbar-width: none;
    }

    ol {
        font-weight: 600;
    }

    img {
        width: 30%;
        height: auto;
        object-fit: scale-down;
    }

    .timer {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        justify-content: center;
        width: 60vw;
        min-height: 80vh;
        line-height: 160%;
        overflow: hidden;
    }

    .changelog {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 40vw;
        align-items: flex-start;
        justify-content: flex-start;
        overflow-y: visible;
        padding-top: 10px;
    }

    .stuff {
        text-shadow: 0 0 25px red;
        font-size: 2em;
        text-transform: uppercase;
        text-align: center;
    }

    .countdown {
        font-size: 9em;
        color: #f6d236;
        text-shadow: 0 0 45px #f6d236;
        font-weight: bold;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    a {
        color: #f6d236;
    }

    a:hover {
        text-shadow: 0px 0px 25px #f6d236;
    }
</style>
